// 全局变量
$primaryColor = blue
$menuPrimaryBGColor = #304156
$menuSecondaryBGColor = #1f2d3d
$menuHoverBGColor = #001528


:export{
  primaryColor:$primaryColor
  menuPrimaryBGColor:$menuPrimaryBGColor
  menuSecondBGColor:$menuSecondBGColor
  menuHoverBGColor:$menuHoverBGColor
}